a { 
    color: blue;
}

body{
    font-size: xx-large;
}

.centered{
    text-align: center;
}

.djbot  img{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}