

a { 
    color: blue;
}

body{
    font-size: xx-large;
}

.centered{
    text-align: center;
}

.djbot  img{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

h1, h2, h3, h4 {
    
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: center;
}


